#
# Reduce Docker build context size. Only keep files needed for Dockerfile.
#
.*
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

data/
train_logs/
eval_logs/
fig/
batch*.pkl
kwargs_make_policy
postprocessor_kwargs.pkl
processor_kwargs.pkl
RLBench/
PyRep/
.git/
.gitmodules
.gitignore
submodules/
unit_tests/
docs/
instructions/
tasks/
online_evaluation_calvin/
online_evaluation_rlbench/
diffuser_actor/
datasets_module/
utils/

